*{
    margin: 0;
    padding: 0;
}

a {
  color: pink;
} 

.nav{
  background-color: #273032;

}

.nav img{
    width: 100px;

}

.nav button a{
    background-color: blueviolet;
}

.Banner{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://i.ytimg.com/vi/bSni3Ha0Spc/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gRygfMA8=&rs=AOn4CLDy-xYVDNgOuDOF7RueoVT86Rbpuw);
    
}

.Banner h1{
    color: rgb(255, 255, 255);
    font-size: 10rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul {
  margin: 0px;
}

li {
  list-style: none;
  display: inline;
  margin-right: 0.2rem;
}
